/* This file is for your main application css. */
@import "bootstrap";

.side {
	padding: 4ex;
	text-align: center;
}

h1 {
	text-align: center;
}

.col-md {
	background-color: palegoldenrod;
	border-style: solid;
	padding: 5px;
}

.col-md-6 {
	padding: 5px;
	text-align: center;
}

.col-4 {
	padding: 5px;
	text-align: center;
}

.card-front {
	background-color: pink;
	width: 70%;
	height: 80px;
	margin: auto;
	padding: 5px;
	text-align: center;
	font-size: 250%;
}

.field {
        background-color: green;
	width: 400px;
        height: 400px;
        margin: auto;
        padding: 5px;
        text-align: center;
        font-size: 90%;
	border: 3px solid black;
	display: table-cell;
	vertical-align: middle;
}

.player {
        background-color: yellow;
	width: 400px;
        height: 400px;
        margin: auto;
        padding: 5px;
        text-align: center;
        font-size: 90%;
	border: 3px solid black;
	display: table-cell;
	vertical-align: middle;
}


.jivi-front {
        background-color: pink;
        width: 70%;
        height: 100px;
        margin: auto;
        padding: 5px;
        text-align: center;
        font-size: 90%;
	display: inline-block;
}

.card-back {
	background-color: palevioletred;
	width: 70%;
	height: 80px;
	margin: auto;
	padding: 5px;
}

.card-matched {
	background-color: palegreen;
	width: 70%;
	height: 80px;
	margin: auto;
	padding: 5px;
}
